
body {
	margin: 0;
  display: flex;
  justify-content: center;
  background-color: #F46;
}
.wrapper {
    text-align: center;
    border-style: dashed;
}

#btn {
    position: absolute;
    top: 50%;
}