  @-webkit-keyframes bounce {
        0% {
    transform: scale(1,1) translate(0px, 0px);
  }
  
  30%{
    transform: scale(1,0.8) translate(0px, 10px); 
  }

  75%{
    transform: scale(1,1.1) translate(0px, -25px); 
  }
  
 100% {
    transform: scale(1,1) translate(0px, 0px);
  }
}

.bounce {
	 font-size: 30px;
	 color: rgb(126,123,123);
      text-align:center;
      margin:0 auto;
      margin-top:660px;
      height:50px;
      width:300px;
      padding:20px;  
      background:rgb(239,243,9);
     -webkit-animation-name: bounce;
     -webkit-animation-duration: 0.75s;
    -webkit-animation-iteration-count: infinite;
    cursor: pointer;
     border-radius: 30px;
}



   .button{
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #3B5998;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 10px 0px 15px 90px;

}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3B5998;
  box-shadow: 0 5px #666;
  transform: translateY(15px);
}
 



.btnNext {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 12px;
    color: #FFFFFF;
    padding: 20px;
    width: 100px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;

    margin:auto;
  display:block;

  margin-top: 15px;


  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.79);
    border-radius: 15px;

}

#btnNext:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

#btnNext:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}


 





body {
	margin: 0;
	 background-image: url("Its-Quiz-Time.jpg");
	background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;

	 
	  

}


.box{

width: 80%; 
margin: 0 auto;
display: none;
background-color:rgba(100,100,100,0.79);
color: #fff;
margin-top: 200px;
   border: 1px solid;
    padding: 10px;
   box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.79);


}

.lblTimer{

margin-left: 33%;
}

.lblQuestion{
float:left;
margin-right: 33%x;


}
.lblRemaining{


	margin-left: 33%;
}
.paragrapQestion{
 margin-left: 20px;
 font-size: 30px;
 text-align: center;

}
#lbl0{
color: red

}

 
